body{
background-color:rgb(255, 255, 255);
margin: 0px;
width: 100%;
/* background-image: url(https://avatars.mds.yandex.net/i?id=247c04538d36c90d80c69512a8657f2a-5875954-images-thumbs&ref=rim&n=33&w=480&h=299); */

}
header{

    width: 100%;
    height: 70px;
    background: rgb(245, 180, 180);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: fixed;
    margin: 0%;
    
}
.zar{
    font-size: 40px;
    display: flex;
      justify-content: center;
      
      margin: 0%;
  }

.first_block{
    width: 100%;
    height:1500px ;
    background-color:rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.st1{
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 100px;
}
a{
    color: #EF5a42;
    text-decoration: none;
}

.txt1{
    border-radius: 15px;
    box-shadow: 0 0 100px 100px rgb(218, 123, 137);
    height: 500px;
    width: 800px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space{
    width: 100%;
    height:300px ;
    background-color: #ffffff;

}
.second_block{
    width: 100%;
    height:1500px ;
    background-color:rgb(255, 255, 255);
   
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.upblock{
    
    height: 500px;
    width: 2900px;
    background-size:cover;
    background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1649736114_6-vsegda-pomnim-com-p-fon-s-tsvetami-foto-6.jpg);
}
.text{
   
    height: 500px;
    width: 800px;
    background-color:transparent;
   text-align: center;
   

}
.cen{
     display: flex;
    justify-content: center;
    align-items: center;
}
.t{
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}
.downblock{
    
 
    background-size:cover;
    background-image: url(https://img.freepik.com/free-photo/close-up-hands-holding-flowers-bouquet_23-2149053843.jpg?w=2000&t=st=1670697803~exp=1670698403~hmac=002a32c337f80a5d69a8b6b6dc44cf08717e699ceb0055192a15d30614dec727);
    width: 700px;
    height: 700px;
    margin: 20px;
}

.downblock:hover{
    box-shadow: 0 0 0 30px rgb(242, 165, 165);

}
.downblock2:hover{
    box-shadow: 0 0 0 30px rgb(242, 165, 165);

}
.downblock2{


background-size:cover;
background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1649744492_37-vsegda-pomnim-com-p-buket-tsvetov-foto-37.jpg);
background-color: rgb(242, 165, 165);
width: 700px;
height: 700px;
margin: 20px;
}


.space{
    width: 100%;
    height:300px ;
    background-color: #ffffff;


}
.third_block{
    width: 100%;
    height:1500px ;
    background-color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fon{
    background-image: url(https://img.freepik.com/free-photo/florist-with-flowers-woman-makes-a-bouquet_1157-47338.jpg?w=2000&t=st=1670700454~exp=1670701054~hmac=24c1c989a0446bdf84cf726bb7b100cfddbb86f230799bd030285af83d890e41);
    height: 1000px;
    width: 1500px;
    box-shadow: 0 0 100px 30px rgb(218, 123, 137);
}
.obz{
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}
.fon2{
    background-color: #fff;
    height: 500px;
    width: 500px;
    position: absolute;
    right: 1900px;
    top: 4100px;
    box-shadow: 0 0 100px 30px rgb(218, 123, 137);
}
.space{
    width: 100%;
    height:300px ;
    background-color: #ffffff;


}
.fourth_block{
    width: 100%;
    height:1500px ;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

}
.flovers {
    
height: 600px;
width: 600px;
margin: 20px;
}
.fl1{
    background-image: url(https://mykaleidoscope.ru/uploads/posts/2020-08/1596422656_23-p-buketi-na-den-rozhdeniya-rebenku-instagram-39.jpg);
background-size: cover;
}
.fl2{
    background-image: url(https://vsegda-pomnim.com/uploads/posts/2022-04/1650403106_102-vsegda-pomnim-com-p-buket-shikarnii-foto-104.jpg);
    background-size: cover;
}

.fl3{
    background-image: url(https://sportishka.com/uploads/posts/2022-08/1660732110_22-sportishka-com-p-buket-roz-v-mashine-krasivo-foto-24.jpg);
    background-size: cover;
}
.texts{
    height: 500px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
.te{
    color:rgb(18, 13, 17);
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
    
    
}
.space{
    width: 100%;
    height:300px ;
    background-color: #ffffff;


}
.fifth_block{
    width: 100%;
    height:1500px ;
    background-color:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.flovers_text{
   
    position: absolute;
    top: 7200px;
    height: 100px;
    width: 2900px;
    background-size:cover;
    background-color:rgba(218, 123, 137, 0.61);
}
.a2{
    color: #000000;
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 65px;

}
.flov{
   
    border-radius: 15px;
    box-shadow: 0 0 100px 20px rgb(218, 123, 137);
    width: 700px;
    height: 350px;
    background-color: #fff;
    margin: 80px;
}
.a1::before{
    content: "\2705";
}
.a1{
    position: relative;
    top: 100px;
    
    color:rgb(18, 13, 17);
    font-family: 'Inspiration', cursive;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Silkscreen', cursive;
    font-size: 55px;
}
.flov2{
    border-radius: 15px;
    box-shadow: 0 0 100px 20px rgb(218, 123, 137);
    width: 700px;
    height: 350px;
    background-color: #fff;
    margin: 80px;
}
.start{
    width: 100%; 
    height: 1200px;
    background-color: rgba(231, 109, 109, 0.664);
    /* display: block; */
    /* margin-left: 25%;
    border-radius: 10%;  */
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.des1{
    background-image: url(https://img.icons8.com/dotty/512/trademark.png);
    background-size: cover;
}
.des2{
    background-image: url(https://lamobi.ru/image/258500.png);
    background-size: cover;
}
.des3{
    background-image: url(https://kursach.by/images/galochka6.png);
    background-size: cover;
}
.description{
    background-color: transparent;
    height: 550px;
    width: 550px;
    margin: 20px;

}
.description:hover{
    background-color: #EF5a42;
}
.korzina{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kor{
background-color: rgba(247, 118, 118, 0.633);
height: 40px;
width: 100px;
}
.kor:hover{
    background-color: #EF5a42;

}

.flowers{
    /* border-radius: 10%;
    height: 1900px;
    width: 1500px;
    margin-left: 25%;
    background-color: rgba(231, 109, 109, 0.664); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:static; */
}
.one{
    width: 500px;
    height: 500px;
    background-color: rgba(137, 43, 226, 0);
    margin: 20px;
    border-radius: 20px;
    
}
.two{
    width: 500px;
    height: 500px;
    background-color: rgba(226, 43, 110, 0);
    margin: 20px;
    border-radius: 20px;
}
.three{
    width: 500px;
    height: 500px;
    background-color: rgba(93, 93, 88, 0);
    margin: 20px;
    border-radius: 20px;
}
.column{
    display: inline-block;
}
.txt{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.62);
    margin: 20px;
    box-shadow: 0 0 5px 10px rgb(218, 123, 137);
    border-radius: 20px; 
}

input{
  width: 300px;
  font-size: 13px;
  padding: 5px 0 5px 8px;
  border: 2px solid (218, 123, 137);
  background: #ffffff;
  border-radius: 8px;
  margin: 10px;
}

h1{
    text-align: center; 
    font-size:40px ; 
    margin: 10px; 
    float: left ;
    font-family: 'Inspiration', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Silkscreen', cursive;
 
}


.menu1{
    height: 40px;
    width: 40px;
    border-radius: 25px;
}


#menu a:hover {
    color: #EF5a42;
}

.img{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/close-up-hand-holding-beautiful-flowers_23-2149053838.jpg?w=1480&t=st=1671550469~exp=1671551069~hmac=94a573ada4926fd66aaa60e0c5e5568e84cb5a0ff53b3fa62e6126f48a1ca6cchttps://img.freepik.com/free-photo/close-up-hand-holding-beautiful-flowers_23-2149053838.jpg?w=1480&t=st=1671550469~exp=1671551069~hmac=94a573ada4926fd66aaa60e0c5e5568e84cb5a0ff53b3fa62e6126f48a1ca6cc);
}
.img:hover{
    filter: blur(5px);
}

.img2{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/a-woman-holds-in-her-hand-a-festive-flower-arrangement-with-bright-chrysanthemum-flowers-a-festive-bouquet_169016-15340.jpg?w=1480&t=st=1671550284~exp=1671550884~hmac=d1146bbddb17bcf995dcb4874d29c6a1b923a3de7e66c6d25f574919216aa9b7);
}
.img2:hover{
    filter: blur(5px);
}
.img3{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/beautiful-wedding-bouquet-of-roses_24837-420.jpg?w=1480&t=st=1671550562~exp=1671551162~hmac=15b89ba3f7c3592ce80fdf03970d14b63b104ea2e7a31e7b66b5396fd95904f6);
}
.img3:hover{
    filter: blur(5px);
}
.img4{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/close-up-of-a-large-festive-bouquet-with-chrysanthemum-flowers_169016-15351.jpg?w=740&t=st=1671550583~exp=1671551183~hmac=a0386741c1cc3c6596f534e3c3fa4e278aa646775726a531f075bb0741e97b90);
}
.img4:hover{
    filter: blur(5px);
}
.img5{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/an-elegant-bouquet-of-pink-and-purple-flowers-with-decorative-green-leaves_114579-1429.jpg?w=1380&t=st=1671550628~exp=1671551228~hmac=7409166dd98eea49488df6b5c59601b73041a2925ef1816f2f44267b38b3a413);
}.img5:hover{
    filter: blur(5px);
}
.img6{
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/hand-holding-wedding-bouquet_23-2148105898.jpg?w=1480);
}
.img6:hover{
    filter: blur(5px);
}
.img7{
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/flowers_23-2148134381.jpg?w=1480);
}
.img7:hover{
    filter: blur(5px);
}
.img8{
    background-size: cover;
    background-image: url(https://img.freepik.com/premium-photo/wedding-flowers-bridal-bouquet-closeup_194236-28.jpg?w=1480)
}
.img8:hover{
    filter: blur(5px);
}
.img9{
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/close-up-hands-holding-flowers-bouquet_23-2149053878.jpg?w=1480&t=st=1671550741~exp=1671551341~hmac=0e68beaa815ba713b1b01ce42bd7d7488c272b97a07dee7aa3712d04fda64691);
}
.img9:hover{
    filter: blur(5px);
}
h2{
    font-family: 'Inspiration', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}
form{
    display: flex;
    justify-content: right;
    margin: 0%;
    margin-right: 50px;
   margin-top: -50px;
    
}
p{
    
    font-size: 20px;
    margin: 0px;
    font-family: serif;
}
.media{
    width: 50px;
    height: 50px;
}
.foo{
text-align: center;

}
footer{
   width: 100%;
  

}
p{
    text-align: center;
    font-size: 30px;
}

.media{
    width: 50px;
    height: 50px;
} 

/* @media (min-width:900px) {
    .column{
        width: calc((50% - 410px)/3);
        
    }
    .one{
         justify-content: flex-start;

    }
}
 @media (max-width:1000px){
    .flowers{
        width: calc(50% - 10px);
    }
 }
 @media (min-width:420px) {
    .column{
        width: calc((100% - 410px)/3);
        
    }
    .two{
         justify-content: flex-start;

    }
}
 @media (max-width:1000px){
    .flowers{
        width: calc(50% - 10px);
    }
 }  */