body{
background-color:rgb(218, 123, 137);
margin: 0px;
background-image: url(https://avatars.mds.yandex.net/i?id=247c04538d36c90d80c69512a8657f2a-5875954-images-thumbs&ref=rim&n=33&w=480&h=299);

}
header{

    width: 100%;
    height: 70px;
    background: white;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    padding: 15px 0;
    margin-bottom: 30px;
    position: fixed;
    
}
.start{
    width: 1500px; 
    height: 700px;
    background-color: rgba(231, 109, 109, 0.664);
    display: block;
    margin-left: 25%;
    border-radius: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.des1{
    background-image: url(/img/качество.png);
    background-size: cover;
}
.des2{
    background-image: url(/img/доставка.png);
    background-size: cover;
}
.des3{
    background-image: url(/img/знак.png);
    background-size: cover;
}
.description{
    background-color: #ffffffa6;
    height: 350px;
    width: 350px;
    margin: 20px;

}
.korzina{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.kor{
background-color: rgba(247, 118, 118, 0.633);
height: 40px;
width: 100px;
}
.kor:hover{
    background-color: #EF5a42;

}

.flowers{
    border-radius: 10%;
    height: 1900px;
    width: 1500px;
    margin-left: 25%;
    background-color: rgba(0, 0, 0, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    /* position:static; */
}
.one{
    width: 350px;
    height: 350px;
    background-color: rgba(137, 43, 226, 0);
    margin: 20px;
    border-radius: 20px;
    
}
.two{
    width: 350px;
    height: 350px;
    background-color: rgba(226, 43, 110, 0);
    margin: 20px;
    border-radius: 20px;
}
.three{
    width: 350px;
    height: 350px;
    background-color: rgba(93, 93, 88, 0);
    margin: 20px;
    border-radius: 20px;
}
.column{
    display: inline-block;
}
.txt{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.62);
    margin: 20px;
    box-shadow: 0 0 5px 10px rgb(218, 123, 137);
    border-radius: 20px; 
}

input{
  width: 300px;
  font-size: 13px;
  padding: 5px 0 5px 8px;
  border: 2px solid (218, 123, 137);
  background: #ffffff;
  border-radius: 8px;
  margin: 10px;
}

h1{
    text-align: center; 
    font-size:40px ; 
    margin: 10px; 
    float: left ;
    font-family: 'Inspiration', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Silkscreen', cursive;
    /* font-family: 'Inspiration', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Silkscreen', cursive;
    /* line-height:1px ; */  
}
h1::after{
    content: "\1F337";
}
.menu1{
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
#menu {
    float: right;
}

#menu li {
    display: inline-block;
    margin-right: 5px;
    
}

#menu a {
    color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    display: block;
    transform: translate(-25em, 1em); 
    text-decoration: none;
    /* line-height: 40px; */
}

#menu a:hover {
    color: #EF5a42;
}

#menu li:last-child {
    margin-right: 0px;
}


.img{
    background-size: cover;
    background-image: url(/img/букет1.webp);
}
.img2{
    background-size: cover;
    background-image: url(/img/букет2.jpeg);
}
.img3{
    background-size: cover;
    background-image: url(/img/букет3.webp);
}
.img4{
    background-size: cover;
    background-image: url(/img/букет4.webp);
}
.img5{
    background-size: cover;
    background-image: url(/img/букет5.jpeg);
}
.img6{
    background-size: cover;
    background-image: url(/img/букет6.webp);
}
.img7{
    background-size: cover;
    background-image: url(/img/букет7.webp);
}
.img8{
    background-size: cover;
    background-image: url(/img/букет8.webp)
}
.img9{
    background-size: cover;
    background-image: url(/img/букет9.jpeg);
}
h2{
    font-family: 'Inspiration', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}
form{
    display: flex;
    justify-content: right;
    position: absolute;
    left: 2500px;
    top: 25px;   
    margin: 0%;
    
}
p{
    
    font-size: 20px;
    margin: 0px;
    font-family: serif;
}

footer{
   
}
p{
    text-align: center;
}
.media{
    width: 50px;
    height: 50px;
}

/* @media (min-width:1000px) {
    .column{
        width: calc((50% - 10px)/3);
        
    }
    .one{
         justify-content: flex-start;

    }
}
 @media (max-width:1000px){
    .flowers{
        width: calc(50% - 10px);
    }
 }
 @media (min-width:420px) {
    .column{
        width: calc((100% - 410px)/3);
        
    }
    .two{
         justify-content: flex-start;

    }
}
 @media (max-width:1000px){
    .flowers{
        width: calc(50% - 10px);
    }
 }  */